<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		<nav>
			<ul class="inline">
				<li>
					<a href="{{ path('app_main') }}">Accueil</a>
				</li>
				<li>
					<a href="">Contact</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{ path('app_articles') }}">Articles</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_register') }}">Inscription</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}">Connexion</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		<main>
			{% block body %}
				{% block subBody %}SubBody
				{% endblock %}
			{% endblock %}
		</main>

		{% block footer %}
			<footer>Copyright</footer>
		{% endblock %}

	</body>
</html>
